{% load static %}
<!DOCTYPE html>
<!-- Find the complete source of this demo at https://github.com/marmelab/ng-admin-demo -->
<html>
    <head>
        <meta charset="utf-8">
        <title>Angular admin</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/jstree/dist/themes/default/style.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/angular-ui-select/dist/select.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/select2/select2.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/ng-admin/build/ng-admin-only.min.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/humane/themes/flatty.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/humane/themes/libnotify.css' %}">
        
        <script src="{% static 'bower_components/requirejs/require.js' %}" 
        	data-main="{% static 'admin/main.js' %}"></script>
    </head>

    <body>
        <div ui-view></div>
    </body>
</html>
