<div class="row">
	<!-- 
	as now it is quite easy edit stuff, 
	so no need to configure a nested state/route for the view definition 
	-->
	<div class="col-lg-12">
		<ma-view-actions> <ma-back-button></ma-back-button>
		</ma-view-actions>
		<div class="page-header">
			<h1>Tree Tags</h1>
			<p class="lead">Right click or DnD to do the edit work</p>
		</div class="page-">
		<div>
			<!-- 
				attr value in multi lines in browser is fine
				see tree-events as example
				refer to 
				http://stackoverflow.com/questions/6851868/is-it-possible-to-have-html-element-attributes-that-span-multiple-lines
			-->
			<div js-tree="treeTagController.treeConfig" 
				should-apply="treeTagController.applyModelChanges()"
				ng-model="treeTagController.treeData" 
				tree="treeTagController.treeInstance"
				tree-events="ready:treeTagController.readyCB;
							create_node:treeTagController.createNodeCB;
        					delete_node:treeTagController.deleteNodeCB;
        					move_node:treeTagController.moveNodeCB;
        					rename_node:treeTagController.renameNodeCB;"
				>
				
			</div>
			
			
		</div>
	</div>
</div>